@import url('https://fonts.googleapis.com/css?family=Roboto');
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  color: antiquewhite;
}

input,
select{
  background-color: rgba(28, 34, 56, 0.8);
  color: white;
  left: 20%;
  border: none;
}

body{
    background: url('./resources/bg.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
  }

form{
  /* display: flex; */
  height: 90%;
  max-width: 800px;
  margin: 0 auto;
  background: rgba(0,0,0,0.8);
  padding: 0px 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

form :nth-child(1) {
  padding-top: 10px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c5ecfd;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c5ecfd;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #c5ecfd;
}

.btn {
  background: rgba(28, 34, 56, 0.8);
  text-align: center;
  padding: 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  background: #fd9801cc;
}

@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}